.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

::selection {
    background-color: #d20859;
    color: #fff;
}

.sidebar .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar-heading {
    font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
    padding: 0.75rem 1rem;
}

.iconColor {
    color: #fff;
    font-size: 26px;
}

.activeSidebar {
    color: #ffd60a;
}

.gambarTiapPost {
    max-height: 350px;
    overflow: hidden;
}

.gambarTiapPost img {
    width: 100%;
    height: auto;
}

.kembaliButton {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
}

.kembaliButton:hover {
    background-color: #2d3a3a;
}

/* Page profil */
.container-profil {
    width: 700px;
    background-color: #caf0f8;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
    border: 2px solid #fb911f;
}

.infoProfil {
    display: flex;
    justify-content: space-between;
    color: #000;
    margin: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.infoProfil input {
    width: 300px;
    height: 35px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    overflow: auto;
    cursor: pointer;
}

.imgProfil {
    display: flex;
    justify-content: center;
}

.imgProfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 3px 3px 3px #0a346e;
    transition: all 2s;
}

.imgProfil img:hover {
    cursor: pointer;
    transform: rotateY(360deg);
}

.btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

/* CSS Dashboard */
.totalCreated {
    display: flex;
    text-align: center;
}

.artikels {
    text-decoration: none;
    background-color: #d400f9;
    margin: 10px;
    flex: 1;
    color: #fff;
    padding-top: 20px;
    border-radius: 5px;
    font-size: 26px;
}

.galeris {
    text-decoration: none;
    background-color: #ff8426;
    margin: 10px;
    flex: 1;
    color: #fff;
    padding-top: 20px;
    border-radius: 5px;
    font-size: 26px;
}

/* CSS Data Page */

.buttonExport {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.buttonExport button {
    margin-left: 5px;
}

/* CSS Reedem page */
.container-reedem {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fbd79d;
    margin: 20px auto;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: url("../img/pw.jpg");
}

.container-reedem label {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

.container-reedem input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: none;
}

.container-reedem input:focus {
    border: none;
}

/* CSS Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a133c;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#d20859, #d400f9);
    border-radius: 10px;
}

/* CSS Member Online */
.online {
    animation: flash 2s infinite;
    color: #00fd83;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* CSS Setting */
.container-setting {
    background: #fff;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    user-select: none;
}

.tema {
    border-bottom: 1px solid grey;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}
.musik {
    border-bottom: 1px solid grey;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.boxTema {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #fff;
}

.boxMusik {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #fff;
}

.darkActive {
    background-color: #353535;
    color: #fff;
}

.lightActive {
    background-color: #fff;
    color: #000;
}

.darkActive .container-setting,
.darkActive .container-setting .boxTema,
.darkActive .container-setting .boxMusik {
    background-color: #353535;
    color: #fff;
}

/* CSS Song */
.songs {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.songs > div {
    margin: 10px 0;
}
.songs > div img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid white;
}

.numberSong {
    margin-right: 10px;
}

.titleSong {
    margin-left: 20px;
}

.play {
    float: right;
    margin-right: 40px;
    margin-top: 12px;
    cursor: pointer;
}

.play:hover {
    color: #00fd83;
}

/* CSS Edit Profil */
.pentingIcon {
    color: #f90074;
}

input[type="password"],
[type="email"],
.password [type="text"],
.namaDaftar [type="text"],
.usernamed [type="text"],
.noHp[type="number"] {
    width: 350px;
    border: 2px solid #e09f3e;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px auto;
}

.editProfil {
    width: 350px;
    margin: 30px auto;
}

.editData {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Dropdown */
.btnDrop {
    cursor: pointer;
    user-select: none;
}
.btnDrop1 {
    cursor: pointer;
    user-select: none;
}

.addContent {
    display: none;
    transform: scale(0.9);
}
.addArticle {
    display: none;
    transform: scale(0.9);
}

.dropdownActive {
    display: block;
}

/* CSS CashNote */
.container-cash-note {
    overflow: auto;
    text-align: center;
}

@media (max-width: 600px) {
    .container-profil {
        width: 100%;
    }
    .infoProfil input {
        width: 300px;
    }
    .infoProfil {
        justify-content: center;
        margin: 10px;
        flex-direction: column;
    }
    .infoProfil span {
        margin: 10px;
    }
    .container-reedem {
        width: 100%;
    }
    .container-setting {
        width: 100%;
    }
}
