@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

body {
    background-image: linear-gradient(to right, #2d3a3a, #41a77e);
    font-family: "Mukta", sans-serif;
    color: #b5ffe1;
}

*::selection {
    background-color: #b5ffe1;
}

hr {
    border: none;
    height: 1px;
    background-color: #b5ffe1;
    margin-left: 120px;
    margin-right: 120px;
    opacity: 100%;
}

.garis .bulat {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b5ffe1;
    position: relative;
    top: 22px;
    left: 120px;
}

nav {
    font-size: 22px;
}

nav .container {
    margin-top: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    margin-right: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.nav-item .nav-link:hover {
    box-sizing: border-box;
    color: #b5ffe1;
    border-radius: 10px;
    animation: borderMuter 3s infinite linear;
}

.login {
    margin-left: 360px;
}

.loginAuth {
    margin-left: 300px;
}

/* Animasi Border Mutar di Navbar */
@keyframes borderMuter {
    25% {
        border-top: 2px solid #ffffff;
    }
    50% {
        border-right: 2px solid #ffffff;
    }
    75% {
        border-bottom: 2px solid #ffffff;
    }
    100% {
        border-left: 2px solid #ffffff;
    }
}

nav .logo-nav {
    color: #b5ffe1;
    font-size: 26px;
    font-weight: bold;
}

.bungkus {
    width: 70px;
    height: 30px;
    background-color: #5e5e5e;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 5px auto;
}
.sliderDark {
    width: 25px;
    height: 25px;
    background-color: #f7c954;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

.darkActive {
    background-image: linear-gradient(to right, #111222, #0a133c);
    color: #fff;
}
.darkActive hr,
.darkActive .bulat,
.darkActive button {
    background-color: #00bbf9;
}
.darkActive .kanvas,
.darkActive .container-galeri,
.darkActive .container-galeris {
    background-color: #363a9d;
}
.darkActive article,
.darkActive .kanvasAll,
.darkActive .card-body {
    background-color: #cad6fb;
}
.darkActive .titleHome,
.darkActive .nav-item .nav-link:hover,
.darkActive h1 {
    color: #fff;
}

.darkActive ::selection {
    background-color: #00d0ff;
}

/* CSS Artikel */
.container-artikel {
    padding-bottom: 700px;
}
.tag {
    display: flex;
    margin-top: 40px;
    background-color: #b5ffe1;
    color: #2d3a3a;
    height: 100px;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #27187e;
    overflow: hidden;
}

.tag .informasi {
    background-color: #27187e;
    flex-grow: 1;
    color: #fff;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag .pengetahuan {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tag .kuis {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tag .pemberitahuan {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag .modeGrid {
    background-color: #758bfd;
    flex-grow: 0.5;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.tag .modeBar {
    background-color: #758bfd;
    flex-grow: 0.5;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag div:hover {
    background-color: #27187e;
}

.kanvas {
    height: 700px;
    background-color: white;
    color: black;
    padding: 20px;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.category {
    display: inline-block;
    background-color: #ff2424;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.category:hover {
    background-color: #27187e;
}

.category a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.artikelPost {
    margin: 10px;
}

.content-informasi {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-pengetahuan {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-kuis {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-pemberitahuan {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artikelPost article {
    width: 380px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0289ff;
}

.artikelPost article a {
    text-decoration: none;
    color: black;
}

.artikelPost article:hover {
    background-color: #fff3b0;
    box-shadow: 5px 5px 5px #e09f3e;
    transform: scale(0.98);
    transition: 0.5s;
}

/* unutk search */
.search {
    width: 800px;
    margin: 40px auto;
}

/* CSS Tiap Artikel */
.kanvasAll {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
}

.trash-icons {
    display: flex;
    justify-content: end;
    align-items: end;
}
.trash-icon {
    display: block;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    float: right;
}

.komens {
    margin-left: 2.9rem;
    word-wrap: break-word;
}

.setiapArtikel {
    width: 800px;
    background-color: white;
    color: black;
}

.gambarTiapPost img {
    width: 100%;
    height: auto;
}

.kanvasAll h5 {
    color: gray;
}

.kembaliButton {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
}
.more {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
    visibility: hidden;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

article:hover .more {
    visibility: visible;
}

.more:hover {
    transform: scale(1.1);
}

.selengkapnya {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.kembaliButton:hover {
    background-color: #2d3a3a;
}

/* CSS Hal About */
.container-about {
    display: flex;
    justify-content: center;
    margin: 18px 0;
}

.container-about p,
.container-about h1,
.container-about hr,
.fitur-ngabar ul li {
    animation: teksHomeAnimate 5s;
}

.title-ngabar {
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
}

.fitur-ngabar {
    display: none;
    width: 1000px;
    justify-content: space-evenly;
}

.tujuan-ngabar {
    display: none;
    width: 1000px;
    justify-content: space-evenly;
}

.title-ngabar,
.fitur-ngabar,
.tujuan-ngabar {
    margin-top: 50px;
}

.title-ngabar hr,
.fitur-ngabar hr,
.tujuan-ngabar hr,
.teks-home hr {
    height: 3px;
    margin-left: 0;
    margin-right: 0;
}

.fitur-ngabar ul li {
    text-align: justify;
    font-size: small;
    margin: 10px 0;
    list-style-type: decimal;
}

.title-ngabar img,
.tujuan-ngabar img,
.fitur-ngabar img {
    width: 400px;
    margin-right: 120px;
    animation: contentAbout 2s;
}
.title-ngabar p {
    text-align: justify;
}

.tujuanAbout p {
    text-align: justify;
}

.selectViewNgabar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.selectViewNgabar button {
    border: none;
    padding: 10px 85px;
    background-color: #36e694;
    color: #fff;
    margin: 0 5px;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    text-shadow: 3px 3px 3px #000;
    transition: all 1s;
}

.selectViewNgabar button:hover {
    box-shadow: 5px 5px 5px black;
    background-color: #ff465b;
}

@keyframes contentAbout {
    10% {
        opacity: 0;
        transform: translateY(-400px);
    }
}

@keyframes buttonAbout {
    10% {
        background-color: #36e694;
    }
}

/* CSS Hal Galeri */
.container-galeri {
    background-color: white;
    border-radius: 20px;
    overflow: auto;
    margin: 20px 0;
    padding: 10px 0;
}
.container-galeris {
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 800px;
    overflow: auto;
    padding-bottom: 100px;
}

.boxImg {
    width: 380px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    color: black;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 5px #fed766;
}

.boxImg:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px #00bbf9;
}

.boxImg img {
    width: 100%;
    border-radius: 20px;
}

.galeriKategori {
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(244, 9, 9, 0.6);
    padding: 5px 10px;
}

.judulGaleri {
    width: 380px;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 1s;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;
    align-items: center;
    margin-right: 20px;
}

.imProfil {
    width: 35px !important;
    height: 35px !important;
    border: 2px solid white;
    border-radius: 50px;
}

.uploadBy {
    margin-left: 15px;
    text-decoration: none;
    color: #fed766;
    font-weight: bold;
    font-size: smaller;
}

.judulGaleri p {
    float: right;
    margin-right: 10px;
    font-size: smaller;
    color: #4cc9f0;
    font-weight: bold;
}

/* Halaman Detail Galeri */
.detailGaleri {
    background-color: white;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 800px;
    overflow: auto;
    padding-bottom: 100px;
}

.boxDetail {
    width: 800px;
    color: black;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}
.boxDetail img {
    width: 100%;
    margin-bottom: 10px;
}

.galeriTiapKategori {
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: rgba(244, 9, 9, 0.6);
    padding: 5px 10px;
}

.downloadGambar {
    background-color: #0289ff;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    float: right;
}

.lapor {
    background-color: #ef233c;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
}

.clearfix {
    clear: both;
    margin-bottom: 20px;
}

.detailUploadBy {
    text-decoration: none;
    color: #41a77e;
    font-weight: bold;
}

/* CSS Login */
.loginPage {
    background-color: white;
    width: 1000px;
    height: 550px;
    display: flex;
    margin: 30px auto 0;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 5px 5px 15px #424242;
}

.gambarKiri {
    display: flex;
    width: 350px;
    overflow: hidden;
}

.gambarKiri img {
    width: 100%;
    height: auto;
    animation: animateImg 3s alternate;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    box-sizing: border-box;
    animation: animateLogin 3s alternate;
}

.formForget {
    display: none;
    flex-direction: column;
    margin: auto;
    color: black;
    box-sizing: border-box;
    animation: animateLogin 3s alternate;
}

.formChangePW {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    box-sizing: border-box;
    animation: animateLogin 3s alternate;
}

@keyframes animateLogin {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes animateImg {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.googleLogin {
    background-color: #fff;
    padding: 10px 15px;
    margin: 20px 8px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
}

.googleLogin:hover {
    background-color: #000;
    color: #fff;
}
.googleLogin:hover a {
    color: #fff;
}

.googleLogin a {
    color: #000;
}

.namaDaftar,
.username,
.email,
.emailDaftar,
.password,
.passwordDaftar,
.password_confirmation,
.noHp,
.forget {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-weight: bold;
    color: grey;
}

.pentingIcon {
    color: #f90074;
}

.iconEye {
    position: absolute;
    margin-top: 38px;
    margin-left: 320px;
    color: #e09f3e;
}

input[type="password"],
[type="email"],
.password [type="text"],
.namaDaftar [type="text"],
.username [type="text"],
[type="number"] {
    width: 350px;
    border: 2px solid #e09f3e;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}

input:focus {
    border: 2px solid #00fd83;
}

.cekBox {
    margin: 5px;
}

.forgotPw {
    margin-left: 160px;
    text-decoration: none;
}

.loginButton,
.daftarButton,
.forgetButton {
    display: flex;
    justify-content: center;
}

.loginButton button,
.daftarButton button,
.forgetButton button {
    border: none;
    width: 350px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: #0289ff;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.loginButton button:hover,
.daftarButton button:hover,
.forgetButton button:hover {
    background-color: #27187e;
}

.daftarSlider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.daftarSlider p {
    text-align: left;
}

.slider {
    width: 70px;
    height: 30px;
    background-color: #787777;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
}

.bolaSlider {
    width: 26px;
    height: 26px;
    background-color: #eaeaea;
    border-radius: 20px;
    cursor: pointer;
}

/* CSS Daftar */
.gambarKanan {
    display: none;
    width: 350px;
    height: 840px;
    overflow: hidden;
    animation: animateImg 3s alternate;
}

.form-daftar {
    display: none;
    flex-direction: column;
    margin: auto;
    color: black;
    box-sizing: border-box;
    animation: animateLogin 3s alternate;
}

.loginSlider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.loginSlider p {
    text-align: left;
}

.sliderDaftar {
    width: 70px;
    height: 30px;
    background-color: #787777;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    justify-content: end;
}

.bolaDaftarSlider {
    width: 26px;
    height: 26px;
    background-color: #eaeaea;
    border-radius: 20px;
    cursor: pointer;
}

/* CSS Home Page */

.container-homes {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin: 40px auto;
    align-items: center;
}

.teks-home p {
    text-align: justify;
}

#songButton {
    background-color: #00bbf9;
    padding: 0 3px;
    border: none;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    box-shadow: 2px 2px 2px #ff465b;
}

button#songButton:active {
    transform: scale(0.8);
}

.container-homes img {
    width: 90%;
    animation: homeAnimate 2s;
}
.teks-home {
    margin: 20px;
    animation: teksHomeAnimate 4s;
}

#ImgHome {
    animation: imgHome 6s infinite linear;
    cursor: pointer;
}

#ImgHome:hover {
    filter: saturate(150%);
}

@keyframes imgHome {
    10% {
        transform: rotate(4deg) translateX(50px);
    }
    30% {
        transform: rotate(-4deg) translateX(-50px);
    }
}

@keyframes homeAnimate {
    10% {
        opacity: 0;
        transform: translateX(400px);
    }
}

@keyframes teksHomeAnimate {
    10% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
}

/* Responsive hp */
@media (max-width: 600px) {
    hr {
        margin-left: 15px;
        margin-right: 15px;
        overflow: hidden;
    }
    .garis .bulat {
        left: 10px;
    }
    .nav-item .nav-link {
        display: inline-block;
        padding: 10px 30px;
    }
    .tag a {
        padding: 2%;
    }

    .search {
        width: 100%;
    }

    .login {
        margin-left: 0;
    }
    .loginAuth {
        margin-left: 0;
    }
    .gambarKiri {
        display: none;
    }
    .loginPage {
        width: 100%;
    }
    .gambarKanan {
        display: none;
    }
    .title-ngabar img,
    .tujuan-ngabar img,
    .fitur-ngabar img {
        width: 85%;
        margin: 20px;
    }
    .selectViewNgabar button {
        padding: 10px 20px;
    }
    .title-ngabar,
    .fitur-ngabar,
    .tujuan-ngabar {
        flex-wrap: wrap;
        margin: 30px;
    }
    .container-homes {
        width: 100%;
        flex-wrap: wrap;
    }
    .container-homes img {
        width: 100%;
        order: -1;
    }
}

/* Responsive untuk tablet */
@media (min-width: 601px) and (max-width: 1366px) {
    hr {
        margin-left: 100px;
        margin-right: 100px;
        overflow: hidden;
    }
    .garis .bulat {
        left: 95px;
    }
    .tag a {
        padding: 2% 4%;
    }
    .search {
        width: 100%;
    }
    .login {
        margin-left: 0;
    }
    .loginAuth {
        margin-left: 0;
    }
    .loginPage {
        width: 100%;
    }
    .title-ngabar img,
    .tujuan-ngabar img,
    .fitur-ngabar img {
        width: 50%;
        margin: 20px;
    }
    .selectViewNgabar button {
        padding: 10px 40px;
    }
    .title-ngabar,
    .fitur-ngabar,
    .tujuan-ngabar {
        margin-top: 80px;
        align-items: center;
    }
    .container-homes {
        width: 100%;
        flex-wrap: wrap;
    }
    .container-homes img {
        width: 80%;
        order: -1;
    }
}
