@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

body {
    background-image: linear-gradient(to right, #2d3a3a, #41a77e);
    font-family: "Mukta", sans-serif;
    color: #b5ffe1;
}

*::selection {
    background-color: #b5ffe1;
}

hr {
    border: none;
    height: 1px;
    background-color: #b5ffe1;
    margin-left: 120px;
    margin-right: 120px;
    opacity: 100%;
}

.garis .bulat {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b5ffe1;
    position: relative;
    top: 22px;
    left: 120px;
}

nav {
    font-size: 22px;
}

nav .container {
    margin-top: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    margin-right: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.nav-item .nav-link:hover {
    box-sizing: border-box;
    color: #b5ffe1;
    border-radius: 10px;
    animation: borderMuter 3s infinite linear;
}

.login {
    margin-left: 448px;
}

/* Animasi Border Mutar di Navbar */
@keyframes borderMuter {
    25% {
        border-top: 2px solid #b5ffe1;
    }
    50% {
        border-right: 2px solid #b5ffe1;
    }
    75% {
        border-bottom: 2px solid #b5ffe1;
    }
    100% {
        border-left: 2px solid #b5ffe1;
    }
}

nav .logo-nav {
    color: #b5ffe1;
    font-size: 26px;
    font-weight: bold;
}

/* CSS Artikel */
.container-artikel {
    padding-bottom: 700px;
}
.tag {
    display: flex;
    margin-top: 40px;
    background-color: #b5ffe1;
    color: #2d3a3a;
    height: 100px;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #27187e;
    overflow: hidden;
}

.tag .informasi {
    background-color: #27187e;
    flex-grow: 1;
    color: #fff;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag .pengetahuan {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tag .kuis {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tag .pemberitahuan {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag .modeGrid {
    background-color: #758bfd;
    flex-grow: 0.5;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.tag .modeBar {
    background-color: #758bfd;
    flex-grow: 0.5;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag div:hover {
    background-color: #27187e;
}

.kanvas {
    height: 700px;
    background-color: white;
    color: black;
    padding: 20px;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.category {
    display: inline-block;
    background-color: #ff2424;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.category:hover {
    background-color: #27187e;
}

.category a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.artikelPost {
    margin: 10px;
}

.content-informasi {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-pengetahuan {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-kuis {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-pemberitahuan {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artikelPost article {
    width: 380px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0289ff;
}

.artikelPost article a {
    text-decoration: none;
    color: black;
}

.artikelPost article:hover {
    background-color: #fff3b0;
    box-shadow: 5px 5px 5px #e09f3e;
    transform: scale(0.98);
    transition: 0.5s;
}

/* unutk search */
.search {
    width: 800px;
    margin: 40px auto;
}

/* CSS Tiap Artikel */
.kanvasAll {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
}

.setiapArtikel {
    width: 800px;
    background-color: white;
    color: black;
}

.gambarTiapPost img {
    width: 100%;
    height: auto;
}

.kanvasAll h5 {
    color: gray;
}

.kembaliButton {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
}

.selengkapnya {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.kembaliButton:hover {
    background-color: #2d3a3a;
}

/* CSS Hal About */
.fiturList li {
    list-style-type: decimal;
    margin-bottom: 25px;
}

.aboutJudul {
    padding: 15px;
    border-bottom: 2px solid #b5ffe1;
}

/* CSS Hal Galeri */
.container-galeri {
    background-color: white;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 800px;
    overflow: auto;
    padding-bottom: 100px;
}

.boxImg {
    width: 380px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    color: black;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 5px #fed766;
}

.boxImg:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px #00bbf9;
}

.boxImg img {
    width: 100%;
    border-radius: 20px;
}

.galeriKategori {
    position: absolute;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(244, 9, 9, 0.6);
    padding: 5px 10px;
}

.judulGaleri {
    width: 380px;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 1s;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    bottom: 0;
    align-items: center;
}

.uploadBy {
    margin-left: 15px;
    text-decoration: none;
    color: #fed766;
    font-weight: bold;
    font-size: smaller;
}

.judulGaleri p {
    float: right;
    margin-right: 10px;
    font-size: smaller;
    color: #4cc9f0;
    font-weight: bold;
}

/* Halaman Detail Galeri */
.detailGaleri {
    background-color: white;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 800px;
    overflow: auto;
    padding-bottom: 100px;
}

.boxDetail {
    width: 800px;
    color: black;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}
.boxDetail img {
    width: 100%;
    margin-bottom: 10px;
}

.galeriTiapKategori {
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: rgba(244, 9, 9, 0.6);
    padding: 5px 10px;
}

.downloadGambar {
    background-color: #0289ff;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    float: right;
}

.lapor {
    background-color: #ef233c;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
}

.clearfix {
    clear: both;
    margin-bottom: 20px;
}

.detailUploadBy {
    text-decoration: none;
    color: #41a77e;
    font-weight: bold;
}

/* CSS Login */
.loginPage {
    background-color: white;
    width: 1000px;
    height: 550px;
    display: flex;
    margin: 30px auto 0;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 5px 5px 15px #424242;
}

.gambarKiri {
    display: flex;
    width: 350px;
    overflow: hidden;
}

.gambarKiri img {
    width: 100%;
    height: auto;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    box-sizing: border-box;
}

.googleLogin {
    background-color: #fff;
    padding: 10px 15px;
    margin: 20px 5px 0;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
}

.googleLogin:hover {
    background-color: #000;
    color: #fff;
}
.googleLogin:hover a {
    color: #fff;
}

.googleLogin a {
    color: #000;
}

.namaDaftar,
.username,
.email,
.emailDaftar,
.password,
.passwordDaftar,
.passwordRepeat,
.noHp {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    font-weight: bold;
    color: grey;
}

.pentingIcon {
    color: #f90074;
}

.iconEye {
    position: absolute;
    margin-top: 38px;
    margin-left: 320px;
    color: #e09f3e;
}

input[type="password"],
[type="email"],
.password [type="text"],
.namaDaftar [type="text"],
.username [type="text"],
[type="number"] {
    width: 350px;
    border: 2px solid #e09f3e;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
}

input:focus {
    border: 2px solid #00fd83;
}

.cekBox {
    margin: 5px;
}

.forgotPw {
    margin-left: 160px;
    text-decoration: none;
}

.loginButton,
.daftarButton {
    display: flex;
    justify-content: center;
}

.loginButton button,
.daftarButton button {
    border: none;
    width: 350px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: #0289ff;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.loginButton button:hover,
.daftarButton button:hover {
    background-color: #27187e;
}

.daftarSlider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.daftarSlider p {
    text-align: left;
}

.slider {
    width: 70px;
    height: 30px;
    background-color: #2d3a3a;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
}

.bolaSlider {
    width: 26px;
    height: 26px;
    background-color: #eaeaea;
    border-radius: 20px;
    cursor: pointer;
}

/* CSS Daftar */
.gambarKanan {
    display: none;
    width: 350px;
    height: 700px;
    overflow: hidden;
}

.form-daftar {
    display: none;
    flex-direction: column;
    margin: auto;
    color: black;
    box-sizing: border-box;
}

.loginSlider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.loginSlider p {
    text-align: left;
}

.sliderDaftar {
    width: 70px;
    height: 30px;
    background-color: #2d3a3a;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    justify-content: end;
}

.bolaDaftarSlider {
    width: 26px;
    height: 26px;
    background-color: #eaeaea;
    border-radius: 20px;
    cursor: pointer;
}
/* Responsive hp */
@media (max-width: 600px) {
    hr {
        margin-left: 15px;
        margin-right: 15px;
        overflow: hidden;
    }
    .garis .bulat {
        left: 10px;
    }
    .nav-item .nav-link {
        display: inline-block;
        padding: 10px 30px;
    }
    .tag a {
        padding: 2%;
    }

    .search {
        width: 100%;
    }

    .login {
        margin-left: 0;
    }
    .gambarKiri {
        display: none;
    }
    .loginPage {
        width: 100%;
    }
    .gambarKanan {
        display: none;
    }
}

/* Responsive untuk tablet */
@media (min-width: 601px) and (max-width: 1366px) {
    hr {
        margin-left: 100px;
        margin-right: 100px;
        overflow: hidden;
    }
    .garis .bulat {
        left: 95px;
    }
    .tag a {
        padding: 2% 4%;
    }
    .search {
        width: 100%;
    }
    .login {
        margin-left: 0;
    }
    .loginPage {
        width: 100%;
    }
}
