body {
    background-image: linear-gradient(to right, #2d3a3a, #41a77e);

    color: #b5ffe1;
}

*::selection {
    background-color: #b5ffe1;
}

hr {
    border: none;
    height: 1px;
    background-color: #b5ffe1;
    margin-left: 120px;
    margin-right: 120px;
    opacity: 100%;
}

.garis .bulat {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b5ffe1;
    position: relative;
    top: 22px;
    left: 120px;
}

nav {
    font-size: 22px;
}

nav .container {
    margin-top: 10px;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.nav-item .nav-link {
    margin-right: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.nav-item .nav-link:hover {
    box-sizing: border-box;
    color: #b5ffe1;
    border-radius: 10px;
    animation: borderMuter 3s infinite linear;
}

/* Animasi Border Mutar di Navbar */
@keyframes borderMuter {
    25% {
        border-top: 2px solid #b5ffe1;
    }
    50% {
        border-right: 2px solid #b5ffe1;
    }
    75% {
        border-bottom: 2px solid #b5ffe1;
    }
    100% {
        border-left: 2px solid #b5ffe1;
    }
}

nav .logo-nav {
    color: #b5ffe1;
    font-size: 26px;
    font-weight: bold;
}

/* CSS Artikel */
.container-artikel {
    padding-bottom: 700px;
}
.tag {
    display: flex;
    margin-top: 40px;
    background-color: #b5ffe1;
    color: #2d3a3a;
    height: 100px;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #27187e;
    overflow: hidden;
}

.tag .informasi {
    background-color: #27187e;
    flex-grow: 1;
    color: #fff;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag .pengetahuan {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tag .kuis {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tag .pemberitahuan {
    background-color: #758bfd;
    flex-grow: 1;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag .modeGrid {
    background-color: #758bfd;
    flex-grow: 0.5;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.tag .modeBar {
    background-color: #758bfd;
    flex-grow: 0.5;
    color: white;
    line-height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.tag div:hover {
    background-color: #27187e;
}

.kanvas {
    height: 700px;
    background-color: white;
    color: black;
    padding: 20px;
    overflow: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.category {
    display: inline-block;
    background-color: #0289ff;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.category:hover {
    background-color: #27187e;
}

.category a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.artikelPost {
    margin: 10px;
}

.content-informasi {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-pengetahuan {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-kuis {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content-pemberitahuan {
    margin-top: 30px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.artikelPost article {
    width: 380px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #0289ff;
}

.artikelPost article a {
    text-decoration: none;
    color: black;
}

.artikelPost article:hover {
    background-color: #fff3b0;
    box-shadow: 5px 5px 5px #e09f3e;
}

/* CSS Tiap Artikel */
.kanvasAll {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
}

.banner1 {
    order: 2;
}

.setiapArtikel {
    width: 800px;
    background-color: white;
    color: black;
}

.gambarTiapPost img {
    width: 100%;
    height: auto;
}

.kanvasAll h5 {
    color: gray;
}

.kembaliButton {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
}

.selengkapnya {
    background-color: #41a77e;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.kembaliButton:hover {
    background-color: #2d3a3a;
}

/* CSS Hal About */
.fiturList li {
    list-style-type: decimal;
    margin-bottom: 25px;
}

.aboutJudul {
    padding: 15px;
    border-bottom: 2px solid #b5ffe1;
}

/* Responsive */
@media (max-width: 600px) {
    hr {
        margin-left: 15px;
        margin-right: 15px;
        overflow: hidden;
    }
    .garis .bulat {
        left: 10px;
    }
    .nav-item .nav-link {
        display: inline-block;
        padding: 10px 30px;
    }
    .tag a {
        padding: 2%;
    }
}

/* Responsive untuk tablet */
@media (min-width: 601px) and (max-width: 1366px) {
    hr {
        margin-left: 100px;
        margin-right: 100px;
        overflow: hidden;
    }
    .garis .bulat {
        left: 95px;
    }
    .tag a {
        padding: 2% 4%;
    }
}
